$background_color_1: #efefef;
$background_color_2: #ffffff;

.agenda {
  width: 85%;
  min-height: 85vh;
  margin: 30px auto 30px auto;
}

.row-striped {
  &:nth-of-type(odd) {
    background-color: $background_color_1;
    border-left: 4px #000000 solid;
  }
  &:nth-of-type(even) {
    background-color: $background_color_2;
    border-left: 4px #efefef solid;
  }
  padding: 15px 0;
}
