/* COLORS */
$black: black;
$primary-color: #007bff;
$white: #f8f8ff;
$space-grey: #2c3e50;
$off-white: #ebebeb;

$colors: (
    black: (
        base: $black
    ),
    primary: (
        base: $primary-color,
        light: lighten($primary-color, 15),
        dark: darken($primary-color, 25)
    ),
    white: (
        base: $white,
        light: lighten($white, 5),
        dark: darken($white, 3)
    ),
    off-white: (
        base: $off-white,
        light: lighten($primary-color, 5),
        dark: darken($primary-color, 25)
    ),
    dark-grey: (
        base: $space-grey,
        light: lighten($white, 5),
        dark: darken($white, 25)
    )
);



/* FONTS */
$font-weights: (
    "regular": 400, "medium": 500, "bold": 800
);

/* IMAGES */
$image-height: (
    "xs": 50px,
    "s": 100px,
    "m": 200px,
    "l": 400px,
    "xl": 800px
);
$image-width: (
    "xs": 50px,
    "s": 100px,
    "m": 200px,
    "l": 400px,
    "xl": 800px
);