.img-m img {
    height: map-get($image-height, "m");
    width: map-get($image-width, "m");

    @include for-phone-only {    
        height: map-get($image-height, "s");
        width: map-get($image-width, "s");
    }
}