* {
	color: #000000;
}

body {
	font-size: 0.85em;
	font-family: 'Roboto', 'Archivo', sans-serif;
	margin: 0;
	letter-spacing: 0.6px;
}

h1 {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	color: #5a96f1;
}

h2 {
	font-size: 27px;
	text-align: center;
	margin-top: 0;
}

h3 {
	font-size: 18px;
	text-align: center;
}

h4 {
	text-align: center;
}

a {
	text-decoration: none;
}

button, a {
	cursor: pointer;
}

input {
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	height: 38px;
	padding: 0 12px 0 12px;
	display: block;
	max-width: 50%;
	width: 50%;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	border: 1px solid #dadfe1;
	border-radius: 2px;
	background-color: #fff;
	background-position: right 12px center;
	background-repeat: no-repeat;
	color: #384047;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.b {
	font-weight: 600;
}

.text {
	color: #6f757b;
}

.list {
	list-style: none;
}

.background {
	background-color: #6f757b;
    text-align: center;
	min-height: 100%;
}

.page-heading h2 {
	padding: 30px 10px 0 10px;
	font-size: 2em;
	font-weight: 700;
	text-align: left;
}

.auth-forms {
	background: white;
	text-align: center;
    width: 50%;
	margin-top: 50px;
    margin-bottom: 50px;
	background: white;
	display: inline-block;
	padding: 15px 0;
}

.auth-form {
	line-height: 1em;
    text-align: center;
    display: inline-block;
    width: 50%;
}

.change-auth-form {
	padding: 15px;
}

.register-form {
	display: none;
}

.side-nav {
	width: 150px;
	display: flex;
	flex-direction: column;
	flex: none;
	padding: 32px 0;
	background: #e3e3e3;
	border-right: 1px solid #666666;
}

.side-nav-item {
	display: block;
	color: #6f757b;
	padding: 12px 16px;
	line-height: 1.15;
	cursor: pointer;
}

.box-content {
	padding: 32px;
}

.select {
	width: 100%;
	display: block;
	border-width: 1px;
	height: 38px;
	line-height: 27px;
	font-size: 14px;
}

/* TODO: can remove in future (2/3/19) */
.buttons-row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	padding-top: 15px;
}

.button {
	background: #5a96f1;
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	font-weight: 600;
	margin-top: 10px;
	padding: 11px 16px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	transition: color 50ms,background-color 50ms,border-color 50ms,box-shadow .2s;
	color: #384047;
	border-color: #ced3d6;
}

.form {
	width: 70%;
}

.form label {
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 8px;
	float: left;
	padding: 0 5px;
	width: 33.33%;
}

.upload-file {
	border: none;
}

.select-language {
	width: 120px;
}

.background-container {
	background: #e0e0e0;
}

.main-container {
	font-size: 14px;
	min-height: 100%;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 0;
}

.register-container {
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

.auth-form label {
	width: 100%;
	color: #000000;
	font-size: 15px;
	display: block;
	margin-top: 15px;
}

.auth-form input {
	width: 100%;
	max-width: 100%;
}

.landing-page-container {
	background: #efefef;
	padding: 45px;
	margin: 0 auto;
	padding: 0 32px;
	min-height: 100%;
	overflow: auto;
}

.landing-page-row .box:nth-child(3) {
	min-height: 0%;
}

.landing-box-first {
	background-image: url(../images/girl-laptop.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 85%;
	min-height: 100vh;
	width: 100%;
}

.landing-box-first h2 {
	color: #f7f7f7;
	padding-top: 50px;
}

.box {
	background: white;
	width: 100%;
	min-height: 100%;
}

.box-icon {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}

.box-icon img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.welcome-text li {
	font-size: 20px;
	list-style-type: none;
	padding: 5px 30px;
	background: url(../images/icons/checkmark.png) no-repeat;
}

.box-img {
	margin: 0 auto;
	max-width: 852px;
	position: relative;
}

.box-img img {
	max-width: 100%;
	height: auto;
	display: block;
}

.box-content {
	display: flex;
	flex-wrap: wrap;
}

.box-content-row {
	width: 50%;
}

.post {
	padding: 0 16px;
	display: flex;
	margin-bottom: 26px;
}

.post img {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
	margin-right: 24px;
    border-radius: 50%;
    text-align: center;
}

.post-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 6px;
	line-height: 1.3;
}

.process {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding-top: 30px;
}

.process-col {
	flex: 1 1 0;
}

.process-main {
	display: flex;
	width: 460px;
}

.process-num {
	display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex: none;
    flex: none;
    width: 48px;
    height: 48px;
    margin-right: 24px;
    background: rgba(59,179,189,.08);
    border-radius: 50%;
    color: #3bb3bd;
    font-size: 20px;
    font-weight: 500;
}

.process-content {
    flex: 1 1 auto;
}

.process-title {
	margin-bottom: 6px;
    font-size: 18px;
    line-height: 1.3;
}

.process-text {
    line-height: 1.57142857;
	list-style: none;
}

.process-picture {
	padding-left: 30px;
}

.process-picture img {
	display: block;
	max-width: 494px;
	height: auto;
}

.page-table {
	width: 100%;
	font-size: 13px;
}

.page-table th {
	text-align: left;
	padding: 16px 0;
	border-bottom: 1px solid #e3e5e6;
	text-transform: uppercase;
	color: #aeb5bc;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: .63px;
	line-height: 1.45454545;
}

.page-table td {
	padding-left: 10px;
	border-top: 1px dashed #e3e5e6;
	color: #384047;
}

.page-table tr:hover {
	background: #f8f8f8;
	border-style: solid;
}

.page-table th:first-child,
.page-table td:first-child,
.page-table tr:first-child td,
.tr-sub-table tr:first-child td  {
	border-top: 0;
}

.page-table th,
.page-table td {
	padding: 0 10px;
}

.tr-sub-table {
	background: #e8e8e8;
}

.page-table th:last-child,
.page-table .tr-sub-table td:last-child {
	text-align: right;
	padding-right: 24px;
}

.page-table tr {
	height: 70px;
}

.page-table .tr-sub-table {
	height: 40px;
	display: none;
}

.page-table-body .td-profile-info {
	position: relative;
	width: 30%%;
}

.page-table-body .td-profile-info .info-content {
	position: relative;
	display: table;
}

.page-table-body .td-profile-info .profile-photo-small img {
	margin: 0 10px;
    object-fit: cover;
    vertical-align: middle;
}

#sub-menu-btn {
	margin: 0;
	width: 15px;
	height: 15px;
}

.page-table-body .td-profile-info .profile-pic .down-btn,
.page-table-body .td-profile-info .profile-pic .up-btn {
	width: 17px;
	height: 17px;
}

.down-btn {
	display: inline-block;
}

.up-btn {
	display: none;
}

.page-table-body .td-prepaid {
	width: 10%;
}

.page-table-body .td-rate {
	width: 10%;
}


.ul-links {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin-left: 0;
	padding-left: 0;
}

.ul-links a {
	color: #65a0f3;
	font-weight: 700;
}

.nav-bar,
.footer-container {
	background: #5a96f1;
	padding-top: 15px;
}

.nav-bar a {
	text-decoration: none;
}

.nav-bar-header {
	font-size: 2em;
	margin: 5px;
}

.nav-bar-links {
	background: #000;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0;
	padding: 2px 15px;
}

.nav-bar-links li {
	padding: 0 15px;
    border: 3px solid grey;
    border-radius: 10px;
}

.nav-bar-links li a {
	color: #cecece;
}

.introduction-text .introduction-content ul {
	text-align: left;
	list-style: none;
	padding: 20px 10px;
}

.introduction-text .introduction-content li {
	padding: 10px;
	margin: 0px 100px;
}

.td-profile-info .sub-menu-btn img {
	height: 15px;
	width: 15px;
}

.profile-info-container {
	display: flex;
	width: 90%;
}

.profile-stats-container {
	border: 0.5px dashed #5a96f1;
	padding: 0 10px;
}

.profile-stats-container h4 {
	text-align: left;
	padding: 0 0 5px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.profile-stats-container p {
	margin: 0;
}

.profile-content-row-a {
	padding: 30px;
}

.profile-content-row-b {
	padding: 30px;
	width: 80%;
}

.profile-photo-large img {
	height: 225px;
	width: 225px;
}

.profile-photo-small img {
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.profile-text-container {
	padding: 30px;
	width: 90%;
}

.profile-flag img {
	width: 35px;
	height: 35px;
}

.profile-description h3 {
	font-size: 1.3em;
	border-bottom: 1px solid grey;
	text-align: left;
}

.profile-description p {
	padding-top: 10px;
}

.conversation-item {
	padding: 10px 0;
	border-bottom: 1px solid #e3e5e6;
}

.conversation-photo {
	position: absolute;
	padding-bottom: 10px;
}

.conversation-name {
	padding-left: 100px;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 10px;
}

.conversation-date {
	float: right;
	color: #999;
}

.conversation-text {
	padding-bottom: 20px;
    padding-left: 100px;
    line-height: 18px;
    color: #6f757b;
    display: block;
	margin-right: 150px;
	text-align: justify;
}

.edit-db-form {
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.edit-db-form textarea {
	font-size: 1em;
	width: 600px;
	height: 200px;
}

.search-results-list {
	padding-left: 0;
}

.search-results-container .search-view-item {
	padding: 5px 20px;
	display: inline-block;
    margin-right: 20px;
}

.search-results-container .search-view-item .search-result-info .info-name {
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.edit-profile textarea {
	width: 400px;
	height: 250px;
}

.footer-container {
	background: #384047;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.about-us-container {
	padding-left: 40px;
}

.change-language-container {
	padding-right: 40px;
}

.settings-profile-container {
	min-height: 100%;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.settings-profile-content {
	width: 752px;
}

.page-links {
	display: flex;
    font-size: 14px;
    font-weight: 600;
	align-items: center;
	justify-content: center;
}

#account-details-form, #contact-info-form {
	display: none;
}

.overlay-container {
	background: #c5c5c5;
	padding: 20px;
	position: absolute;
	top: 100px;
	left: 50%;
	width: 600px;
	margin: 0 0 32px -300px;
	z-index: 100;
}

.close-button img {
	position: absolute;
    top: 24px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#schedule-lesson-form {
	display: none;

}

.schedule-form p {
	text-align: left;
}

.user-list {
	padding-left: 0;
}

.user-list li {
	display: flex;
	line-height: 32px;
	height: 38px;
	margin: 2px 0;
	padding: 3px 10px;
	cursor: pointer;
	border-radius: 2px;
}

.user-list li p {
	display: inline-block;
	margin: 0 0 0 30px;
}

.user-list li span {
	float: right;
	margin: 0 0 0 120px;
}

.gray {
	color: #7e8389;
}

.calendar-item span {
	display: flex;
	justify-content: space-evenly;
}

.calendar-item .calendar-result div {
	margin-top: 6px;
}

.calendar-item .calendar-result .calendar-photo {
	position: initial;
	margin-top: 0;
}

.calendar-item .calendar-result .calendar-name {
	padding-left: 0
}

.calendar-item .calendar-result .calendar-duration {
	padding-left: 0;
	margin-right: 0;
}

#settings-account {
	display: none;
}

#set-lang-form {
	margin-bottom: 0;
	padding-top: 2px;
}

#set-lang-form button {
	background: #000;
	color: #fff;
	border-radius: 6px;
	font-size: 12px;
}

.confirm-button {
	background: #2bad01;
	width: 17%;
}

.cancel-button {
	background: #fd3204;
	width: 17%;
}
