* {
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 0.5px;
}

body {
	font-size: 0.8em;
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
}

#background {
	background-color: #000;
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#login-container #input-container {
	width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

#login-container * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#login-container #input-container .register-form {
	display: block;
}

#login-container #input-container .register-form h2 {
	text-align: center;
}

#login-container #input-container .register-form label {
	color: #a0a0a0;
	font-size: 13px;
	display: block;
	margin-top: 15px;
}

#login-container #input-container .register-form input {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR…rvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
	width: 100%;
    display: block;
    background-color: transparent;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    height: 27px;
    line-height: 27px;
}

#login-container #input-container #teacher-register-form label {
	padding-bottom: 5px;
}

#login-container #input-container .register-form select {
	background-color: transparent;
	width: 100%;
	display: block;
	border-width: 1px;
	height: 27px;
	line-height: 27px;
}

#login-container #input-container .register-form button {
	background-color: transparent;
    border: 2px solid #fff;
    border-radius: 250px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
}

#login-container #login-text {
	padding: 45px;
	display: table-cell;
}

#login-container #login-text h1 {
	color: #ece61e;
	font-size: 60px;
	font-weight: 700;
}

#login-container #login-text h2 {
	margin: 35px 0;
}

#login-container #login-text li {
	font-size: 20px;
	list-style-type: none;
	padding: 5px 30px;
	background: url(../images/icons/checkmark.png) no-repeat;
}

#nav-bar,
#footer-container {
	background: #dcf3fd;
	padding-top: 15px;
}

#nav-bar a {
	text-decoration: none;
}

#nav-bar #nav-bar-header {
	font-size: 2em;
	margin: 5px;
}

#nav-bar #nav-bar-links {
	background: #000;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding-right: 15px;
}

#nav-bar #nav-bar-links li {
	padding: 0 15px;
    border: 3px solid grey;
    border-radius: 10px;
}

#nav-bar #nav-bar-links li a {
	color: #cecece;
}

.introduction-text .introduction-heading h1 {
	text-align: center;
	padding: 15px;
	font-size: 2em;
}

.introduction-text .introduction-heading h2 {
	text-align: center;
	font-size: 1.2em;
}

.introduction-text .introduction-content ul {
	text-align: left;
	list-style: none;
	padding: 20px 10px;
}

.introduction-text .introduction-content li {
	padding: 10px;
	margin: 0px 100px;
}

#profile-container #profile-content-container {
	display: flex;
}

#profile-container #profile-content-container #profile-photo {
	padding: 30px;
}

#profile-container #profile-content-container #profile-photo img {
	height: 225px;
	width: 225px;
}

#profile-container #profile-content-container #profile-text-content {
	padding: 30px;
}

#profile-container #profile-content-container #profile-text-content #profile-name {
	font-size: 1.8em;
    font-weight: 700;
}

#profile-container #profile-content-container #profile-text-content
#profile-username, #profile-email {
	font-size: 1.3em;
    padding-left: 20px;
}

#profile-container #profile-content-container #profile-text-content #profile-description {
	border: 2px solid black;
	padding: 15px
}

#profile-container .option-link {
	text-align: center;
	padding: 15px 0;
	font-size: 1.2em;
}

#profile-container .option-link a {
	border: 1.5px solid black;
	padding: 10px;
	text-decoration: none;
}

#search-container #search-results-container #search-view-item {
	padding: 5px 20px;
	display: inline-block;
    margin: right;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

#search-container #search-results-container #search-view-item .search-result-info.photo img {
	width: 100%;
	height: 225px;
	width: 225px;
}

#search-container #search-results-container #search-view-item .search-result-info .info-name {
	font-size: 1.4em;
	font-weight: 700;
	text-align: center;
	padding: 5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
