
/* FONTS */
$font-weights: (
    "regular": 400, "medium": 500, "bold": 800
);

/* IMAGES */
$image-height: (
    "xs": 50px,
    "s": 100px,
    "m": 200px,
    "l": 400px,
    "xl": 800px
);
$image-width: (
    "xs": 50px,
    "s": 100px,
    "m": 200px,
    "l": 400px,
    "xl": 800px
);